html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
    background: #667db6;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-gradient(linear, left bottom, left top, from(#667db6), color-stop(#0082c8), color-stop(#0082c8), to(#667db6));
	background: linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #f0f8ff;
    font-family: sans-serif;
} 
header, main{
    margin: 0 auto;
    max-width: 1200px;
}
main{
    text-align: center;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto; /*flex-grow, flex-shrink, flex-basis*/
}
.checkNumberButton{
    font-size: 20px;
    border-radius: 4px;
    border: solid 2px;
    padding: 3px;
    background-color: #bada55;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.checkNumberButton:hover{
    cursor: pointer;
    background-color: #a9c944;
}
.inputNumber {
    font-size: 20px;
    border-radius: 4px;
    border: solid 2px;
    padding: 3px;
}
#result{
    font-size: 1.2rem;
    padding: 10px 0;
    color: #000;
}
footer{
	background-color: #000;
	padding: 20px 0;
	text-align: center;	
}
footer a {
    text-decoration: none;
    color: #e7c305;
	-webkit-transition: 0.4s all;
	transition: 0.4s all;
}
footer a:hover {
    color: #821821;
}
